{block content}
<h2>Sign in</h2>
{form loginForm}
	<div>
		{label email /}
		{input email}
	</div>
	<div>
		{label password /}
		{input password}
	</div>
	<div>
		{input send}
	</div>
{/form}
{/block}