{block content}
    <h2>Přihlaš se</h2>
    {form loginForm}
        <div>
            {label username/} <br>
            {input username}
        </div>
        <div>
            {label password/} <br>
            {input password}
        </div>
        <div>
            {input send}
        </div>
    {/form}
{/block}
