services:
    - App\Core\RouterFactory::createRouter
    - App\Model\UserFacade
    - App\Model\PostFacade
    - App\Model\Authenticator
    - App\Security\AuthorizatorFactory::create

    - App\UI\Home\HomePresenter
    - App\UI\Post\PostPresenter
    - App\UI\Sign\SignPresenter
    - App\UI\Register\RegisterPresenter



search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
