{block content}
<h2>Registruj se</h2>
{form registerForm}
	<div>
		{label username /}
		{input username}
	</div>
	<div>
		{label email /}
		{input email}
	</div>
	<div>
		{label password /}
		{input password}
	</div>
	<div>
		{input send}
	</div>
{/form}
{/block}